@page "/manageaccounts"
@using MeTube.Client.ViewModels.ManageUsersViewModels
@inject ManageUsersViewModel ViewModel
<link href="css/login_and_signup.css" rel="stylesheet" />

<div>
    <button @onclick="() => ViewModel.GetUsers()" type="button">Login</button>
</div>