@page "/watch"

<h3>Watch</h3>

<video width="800px" height="450" controls>
    <source src="https://looplegionmetube20250129.blob.core.windows.net/videos/youtube_OUUlO8fQOfE_1920x1080_h264.mp4">
    Your browser does not support the video tag.
</video>

@code {

}
